@page
@model Lab1Part3.Pages.PlanItems.AddPlanItemModel
@{
    ViewData["Title"] = "AddPlanItem";
}

<form asp-page="AddPlanItem">
    <input type="text" asp-for="NewPlanItem.PlanItemDescription" placeholder="Item Description" />
    <span asp-validation-for="NewPlanItem.PlanItemDescription" class="text-danger"></span>
    <br />
    <input type="text" asp-for="NewPlanItem.StepsCompleted" placeholder="Steps Completed" />
    <span asp-validation-for="NewPlanItem.StepsCompleted" class="text-danger"></span>
    <br />
    <br />
    <button type="submit" class="btn btn-success">Save</button>
    <button asp-page="AddPlanItem" asp-page-handler="PopulateHandler" class="btn btn-secondary" formnovalidate>Populate</button>
    <br />
    <br />
    <a asp-page="/PlanItems/AddPlanItem">Clear</a>
    &nbsp; &nbsp;
    <a asp-page="/PlanItems/Index">Cancel</a>
</form>

<br/>
<br/>

<form asp-action="AddPlanItem">
    <p>For which Plan is this Plan Item for? </p>
    <br />
    <select asp-for="PlanId" asp-items="Model.PlansTable">
        <option value="">Choose a Knowledge Item</option>
    </select>
    <input type="submit" class="btn btn-primary" />
</form>
 *@