@page 
@model Lab1Part3.Pages.PlanItems.AddPlanItemModel
@{
    ViewData["Title"] = "AddPlanItem";
}

<h2>Add a new Plan Item</h2>

<br/>
<form asp-page-handler="AddPlanItem" method="post">
    <p>Choose a Plan to add to</p>
    <select asp-for="NewPlanItem.PlanID" asp-items="Model.PlanOptions">
        <option value="">Choose a Plan</option>
       
    </select>
    <br />
    <input type="text" asp-for="NewPlanItem.PlanItemDescription" placeholder="Item Description" />
    <span asp-validation-for="NewPlanItem.PlanItemDescription" class="text-danger"></span>
    <br />
    <input type="text" asp-for="NewPlanItem.StepsCompleted" placeholder="Steps Completed" />
    <span asp-validation-for="NewPlanItem.StepsCompleted" class="text-danger"></span>
    <br />
    <br />
    <button type="submit" class="btn btn-success">Save</button>
    <button asp-page="AddPlanItem" asp-page-handler="PopulateHandler" class="btn btn-secondary" formnovalidate>Populate</button>
    <br />
    <br />
    <a asp-page="/PlanItems/AddPlanItem">Clear</a>
    &nbsp; &nbsp;
    <a asp-page="/PlanItems/Index">Cancel</a> 
</form>
