

@* Nick Patterson & Jessica Shamloo *@
@page
@using System.Data.SqlClient
@using Lab1Part3.Pages.DB
@model Lab1Part3.Pages.PlanItems.IndexModel
@{
    ViewData["Title"] = "PlanItems";
}
<h2>Plan Items</h2>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Plan Name</th>
            <th>Plan Item Description</th>
            <th>Steps Completed</th>
            
        </tr>
    </thead>
    <tbody>
        @{
            // @ Symbol for a verbatim / multi-line string
            string sqlQuery = @"select Plans.PlanName, PlanItem.PlanItemDescription, PlanItem.StepsCompleted
        from Plans
        INNER JOIN PlanItem
        on PlanItem.PlanID = Plans.PlanID;
        ";
            
            SqlDataReader PlanItemReader = DBClass.GeneralReaderQuery(sqlQuery);

            while (PlanItemReader.Read())
            {
                <tr>
                    <td class="text-danger">@PlanItemReader["PlanName"]</td>
                    <td>@PlanItemReader["PlanItemDescription"]</td>
                    <td>@PlanItemReader["StepsCompleted"]</td>
                   
                </tr>
            }

        DBClass.Lab1DBConnection.Close();
        }

    </tbody>
</table>

<a class="btn btn-primary" asp-page="AddPlanItem">Add a Plan Item -></a>

