@page
@model Lab2.Pages.Login.DBLoginModel
@{
    ViewData["Title"] = "Login";
}

@* This will show that the user is already logged in if they attempt to return to the login page *@
@{
    if (ViewData["LoginMessage"] != null)
    {
        <p class="text-success">@ViewData["LoginMessage"]</p>
    }
}

@{
    if (HttpContext.Session.GetString("UserName") != null)
    {
        <p>@HttpContext.Session.GetString("UserName") logged in</p>
        // Log out here
        <form asp-page="DBLogin" asp-page-handler="LogoutHandler">
            <input type="submit" value="Logout" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white; padding:5px 15px; display:inline-block;" />
        </form>

    }
    //uses the LoginError key and prints its value  
    else if (HttpContext.Session.GetString("LoginError") != null)
    {
        <p class="text-danger">@HttpContext.Session.GetString("LoginError")</p>


        // Let the user try login again.
        <form asp-page="DBLogin">
            <input asp-for="UserName" class="form-control" style="-webkit-text-fill-color:rebeccapurple" placeholder="Enter Username" />
            <br />
            <label>Enter Password:</label>
            <input asp-for="Password" class="form-control" style="-webkit-text-fill-color:rebeccapurple" type="password" />
            <br />
            <input type="submit" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white; padding:5px 15px; box-shadow; display:inline-block;" />
        </form>
        <br />

    }
    else
    {
        // First time loading the page. Username and LoginError are both null. 

        <form asp-page="DBLogin">
            <input asp-for="UserName" class="form-control" style="-webkit-text-fill-color:rebeccapurple" placeholder="Enter Username" />
            <br />
            <label>Enter Password:</label>
            <input asp-for="Password" class="form-control" style="-webkit-text-fill-color:rebeccapurple" type="password" />
            <br />
            <input type="submit" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white; padding:5px 15px; box-shadow; display:inline-block;" />
        </form>
        <br />
    }

}

