@page

@model Lab2.Pages.Login.SecureLoginLandingModel
@{
}


@{
    if (@ViewData["LoginMessage"] != null)
    {
        <p>@ViewData["LoginMessage"]</p>
        <a asp-page="DBLogin" asp-route-logout="true">Logout of application -></a>
        <a asp-page="/Chats/Index" asp-route-employeeid="@Model.EmployeeID"></a>
    }

}
