@* Nick Patterson & Jessica Shamloo *@
@page
@using System.Data.SqlClient
@using Lab1Part3.Pages.DB
@model Lab1Part3.Pages.Chats.IndexModel
@{
    ViewData["Title"] = "Chats";
}
<h2>Chats</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Chat Message</th>
            <th>Chat DateTime</th>
            <th>Employee Username</th>
            <th>Team Name</th>
        </tr>
    </thead>
    <tbody>
        @{
            //SELECT EmployeeID, CONCAT(FirstName, ' ', LastName) AS Name FROM Employee
            // @ Symbol for a verbatim / multi-line string
            string sqlQuery = @"select Chat.ChatMessage, Chat.ChatDateTime, Collaboration.TeamName, Employee.UserName
        from Employee
        INNER JOIN Chat
        on Chat.EmployeeID = Employee.EmployeeID
        LEFT JOIN Collaboration
        on Collaboration.CollabID = Chat.CollabID;
        ";

            SqlDataReader ChatReader = DBClass.GeneralReaderQuery(sqlQuery);

            while (ChatReader.Read())
            {
                <tr>
                    <td>@ChatReader["ChatMessage"]</td>
                    <td>@ChatReader["ChatDateTime"]</td>
                    <td>@ChatReader["UserName"]</td>
                    <td>@ChatReader["TeamName"]</td>
                </tr>
            }

            DBClass.Lab1DBConnection.Close();
        }

    </tbody>
</table>

<form asp-page="AddChat">
    <input type="text" asp-for="NewChat.EmployeeID" size="50" placeholder="Employee Username" />
    <br />
    <input type="text" asp-for="NewChat.ChatMessage" size="50" placeholder="Message" />
    <span asp-validation-for="NewChat.ChatMessage" class="text-danger"></span>
    <br />
    <button type="submit" class="btn btn-secondary">Send Chat</button>
    <br />
</form>

@* <a class="btn btn-primary" asp-page="/Chats/AddChat">Send Chat -></a> *@