@* Nick Patterson & Jessica Shamloo *@
@page
@using System.Data.SqlClient
@using Lab2.Pages.DB
@model Lab2.Pages.Chats.IndexModel
@{
    ViewData["Title"] = "Chats";
}
<h2>Chats</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Chat Message</th>
            <th>Chat DateTime</th>
            <th>Employee ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chat in Model.NewChat)
        {
            <tr>
                <td>@chat.ChatMessage</td>
                <td>@chat.ChatDateTime</td>
                <td>@chat.EmployeeID</td>
            </tr>
        }

    </tbody>
</table>

<form method="post">
    <div class="form-group">
        <label asp-for="NewChats.EmployeeID">Employee ID:</label>
        <input type="text" class="form-control" asp-for="NewChats.EmployeeID" required>
    </div>
    <div class="form-group">
        <label asp-for="NewChats.ChatMessage">Chat Message:</label>
        <textarea class="form-control" rows="3" asp-for="NewChats.ChatMessage" required></textarea>
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" asp-for="NewChats.ChatDateTime" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" required />
        <span class="validaty"/>
    </div>
    <br/>
    <button type="submit" class="btn" style="background-color: rebeccapurple; -webkit-text-fill-color: white">Send Chat</button>
</form>
