@* Nick Patterson & Jessica Shamloo *@

@page 
@using System.Data.SqlClient
@using Lab2.Pages.DB
@model Lab2.Pages.PlanSteps.IndexModel
@{
    ViewData["Title"] = "PlanSteps";
}

<h2 class="h2">Plan Steps</h2>

<table class="table table-bordered table-responsive table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Step Description:</th>
            <th>Status:</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var p in Model.PlanStepsTable)
            {
                <tr>
                    <td>@p.StepDescription</td>
                    <td>@p.Status</td>
                    <td>
                    <a asp-page="AddPlanStep" class="btn" asp-route-planid="@p.PlanID">Add Steps</a>
                    </td>
                </tr>
            }

            DBClass.Lab2DBConnection.Close();
        }

    </tbody>
</table>
<br/>

<a asp-page="/Plan/Index" class="btn btn-link">Return to Plans</a>
