@* Nick Patterson & Jessica Shamloo *@

@page 
@using System.Data.SqlClient
@using Lab1Part3.Pages.DB
@model Lab1Part3.Pages.PlanItems.IndexModel
@{
    ViewData["Title"] = "PlanSteps";
}

<h2 class="h2">Plan Items</h2>

<table class="table table-bordered table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Plan Name:</th>
            <th>Step Description:</th>
            <th>Status:</th>
            
        </tr>
    </thead>
    <tbody>
        @{
            // @ Symbol for a verbatim / multi-line string
            string sqlQuery = @"SELECT Plans.PlanName, PlanStep.StepDescription, PlanStep.Status
        from Plans
        INNER JOIN PlanStep
        on PlanStep.PlanID =Plans.PlanID
        GROUP BY Plans.PlanName, PlanStep.StepDescription, PlanStep.Status
        ORDER BY Plans.PlanName;";

            SqlDataReader QueryResults = DBClass.GeneralReaderQuery(sqlQuery);

            while (QueryResults.Read())
            {
                <tr>
                    <td>@QueryResults["PlanName"]</td>
                    <td>@QueryResults["StepDescription"]</td>
                    <td>@QueryResults["Status"]</td>
                </tr>
            }

            DBClass.Lab1DBConnection.Close();
        }

    </tbody>
</table>

<a asp-page="AddPlanStep" class="btn btn-primary">Add a Plan Step -></a>

       