@* Thomas Hodges *@
@page
@model Lab1Part3.Pages.DataFiles.IndexModel
@{
    ViewData["Title"] = "DataFile";
}
<h2>Employee View</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>DataID</th>
            <th>DataName</th>
            <th>DataLocation</th>
            <th>DataDescription</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var dta in Model.DataTable)
            {
                <tr>
                    <td class="text-danger">@dta.DataID</td>
                    <td>@dta.DataName</td>
                    <td>@dta.DataLocation</td>
                    <td>@dta.DataDescription</td>
                </tr>
            }
        }
    </tbody>
</table>