@page
@model Lab2.Pages.Hub.NewSpaceModel
@{
    ViewData["Title"] = "NewSpace";
}

<form asp-page="NewSpace">
    <input type="text" asp-for="NewSpace.TeamName" placeholder="TeamName" />
    <span asp-validation-for="NewSpace.TeamName" class="text-danger"></span>
    <br />
    <input type="text" asp-for="NewSpace.NotesAndInformation" placeholder="NotesAndInformation" />
    <span asp-validation-for="NewSpace.NotesAndInformation" class="text-danger"></span>
    <br />
    <br />
    <button type="submit" class="btn" style=" background-color:rebeccapurple; -webkit-text-fill-color:white;">Save </button>
    <button asp-page="NewSpace" asp-page-handler="PopulateHandler" class="btn" style=" background-color:rebeccapurple; -webkit-text-fill-color:white;" formnovalidate>Populate</button>
    <br />
    <br />
    <a asp-page="/Hub/NewSpace" style=" -webkit-text-fill-color:rebeccapurple;">Clear</a>
    &nbsp; &nbsp;
    <a asp-page="/Hub/Index" style="-webkit-text-fill-color:rebeccapurple;">Cancel</a>

</form> 