@*Nick Patterson*@
@page
@model Lab1Part3.Pages.DataCollabs.IndexModel
@{
    ViewData["Title"] = "Data Collabs";
}

<h2>Employee View</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>CollabID</th>
            <th>DataID</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var emp in Model.DataCollabsTable)
            {
            <tr>
                <td class="text-danger">@emp.CollabID</td>
                <td>@emp.DataID</td>
            </tr>
            }
        }
    </tbody>
</table>
