@*Nick Patterson*@
@page
@using System.Data.SqlClient
@using Lab2.Pages.DB
@model Lab2.Pages.CityDatas.IndexModel
@{
    ViewData["Title"] = "CityDatas";
}
<h2>CityDatas</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>City Name</th>
            <th>Name</th>
            <th>Population</th>
            <th>Income Tax</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var citydata in Model.NewCityData)
        {
            <tr>
                <td>@citydata.CityName</td>
                <td>@citydata.Name</td>
                <td>@citydata.Population</td>
                <td>@citydata.IncomeTax</td>
            </tr>
        }

    </tbody>
</table>

<a asp-page="/DataFiles/Index" style="-webkit-text-fill-color:rebeccapurple;">Return to Data Files</a>