@page
@model Lab2.Pages.KnowledgeItems.AddKnowledgeItemModel
@* Jessica Shamloo *@
@{
    ViewData["Title"] = "AddKnowledgeItem";
}
<form asp-page="AddKnowledgeItem">
    <input type="text" asp-for="NewKnowledgeItem.Name" placeholder="Name" />
    <span asp-validation-for="NewKnowledgeItem.Name" class="text-danger"></span>
    <br />
    <input type="text" asp-for="NewKnowledgeItem.Subject" placeholder="Subject" />
    <span asp-validation-for="NewKnowledgeItem.Subject" class="text-danger"></span>
    <br />
    <input type="text" asp-for="NewKnowledgeItem.Category" placeholder="Category" />
    <span asp-validation-for="NewKnowledgeItem.Category" class="text-danger"></span>
    <br />
    <input type="text" asp-for="NewKnowledgeItem.Information" placeholder="Information" />
    <span asp-validation-for="NewKnowledgeItem.Information" class="text-danger"></span>
    <br />
    <input type="text" asp-for="NewKnowledgeItem.KnowledgeDateTime" placeholder="Date-Time" />
    <span asp-validation-for="NewKnowledgeItem.KnowledgeDateTime" class="text-danger"></span>
    <br />
    <input type="text" asp-for="NewKnowledgeItem.EmployeeID" placeholder="EmployeeID" />
    <span asp-validation-for="NewKnowledgeItem.EmployeeID" class="text-danger"></span>
    <br />
    <br />
    <button type="submit" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;">Save</button>
    <button asp-page="AddKnowledgeItem" asp-page-handler="PopulateHandler" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;" formnovalidate>Populate</button>
    <br />
    <br />
    <a asp-page="/KnowledgeItems/AddKnowledgeItem" style="-webkit-text-fill-color:rebeccapurple;">Clear</a>
    &nbsp; &nbsp;
    <a asp-page="/KnowledgeItems/Index" style=" -webkit-text-fill-color:rebeccapurple; ">Cancel</a>

</form>