@page
@model Lab1Part3.Pages.KnowledgeItems.AddKnowledgeItemModel

<!--Jessica Shamloo-->

@{
    ViewData["Title"] = "AddKnowledgeItem";
}
<form asp-page="AddKnowledgeItem">
    <input type="text" asp-for="NewKnowledgeItem.Name" placeholder="Name" />
    <br />
    <input type="text" asp-for="NewKnowledgeItem.Subject" placeholder="Subject" />
    <br />
    <input type="text" asp-for="NewKnowledgeItem.Category" placeholder="Category" />
    <br />
    <input type="text" asp-for="NewKnowledgeItem.Information" placeholder="Information" />
    <br />
    <input type="text" asp-for="NewKnowledgeItem.KnowledgeDateTime" placeholder="Date-Time" />
    <br />
    <br />
    <button type="submit" class="btn btn-secondary">Save</button>
    <button asp-page="AddKnowledgeItem" asp-page-handler="PopulateHandler" formnovalidate>Populate</button>
    <br />
    <br />
    <a asp-page="/KnowledgeItems/AddKnowledgeItem">Cancel</a>

</form>