@page
@model Lab1Part3.Pages.KnowledgeItems.AddKnowledgeItemModel

<!--Jessica Shamloo-->

@{
    ViewData["Title"] = "AddKnowledgeItem";
}
<form asp-page="AddKnowledgeItem">
    <input type="text" asp-for="NewKnowledgeItem.Name" placeholder="Name" />
    <br />
    <input type="text" asp-for="NewKnowledgeItem.Subject" placeholder="Subject" />
    <br />
    <input type="text" asp-for="NewKnowledgeItem.Category" placeholder="Category" />
    <br />
    <input type="text" asp-for="NewKnowledgeItem.Information" placeholder="Information" />
    <br />
    <input type="text" asp-for="NewKnowledgeItem.KnowledgeDateTime" placeholder="DD/MM/YY-00:00" />
    <br />
    <br />
    <button type="submit" class="btn btn-success">Save</button>
    <button asp-page="AddKnowledgeItem" asp-page-handler="PopulateHandler" class="btn btn-secondary"formnovalidate>Populate</button>
    <br />
    <br />
    <a asp-page="/KnowledgeItems/Index">Cancel</a>

</form>