html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    -webkit-text-fill-color: #663399;
}

h1 {
    -webkit-text-fill-color: #663399;
}

h2 {
    -webkit-text-fill-color: #663399;
}

h4 {
    -webkit-text-fill-color: #663399;
}

tbody {
    background-color: white ;
}

thead{
    -webkit-text-fill-color: white;
    background-color: rebeccapurple;
}

footer {
    -webkit-text-fill-color: white;
}

button {
    background-color: rebeccapurple;
    -webkit-text-fill-color: white;
    padding: 5px 10px;
    display: inline-block;
    
}


button:hover {       
    background-color: white;
    -webkit-text-fill-color: rebeccapurple;
}

input: {
    background-color: rebeccapurple;
    -webkit-text-fill-color: white;
    padding: 5px 10px;
    display: inline-block;
}
