@page
@model Lab1Part3.Pages.Collaborations.IndexModel
@{
    ViewData["Title"] = "Collaborations";
}
<h2 class="h2">Collaboration Spaces</h2>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>TeamName</th>
            <th>NotesAndInformation</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var emp in Model.CollaborationTable)
            {
                <tr>
                    
                    <td class="text-danger">@emp.TeamName</td>
                    <td>@emp.NotesAndInformation</td>
                </tr>
            }
        }
    </tbody>
</table>
