@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our firm's new website!</p>
    
</div>

<p>Team Members: Jessica Shamloo, Thomas Hodges, Nick Patterson</p>
<p>Section 1: CIS 484</p>