@*Thomas Hodges*@
@page "{CollabID:int}"
@model Lab2.Pages.Plan.AddPlanModel
@{
    ViewData["Title"] = "AddPlan";
}

<form asp-page="AddPlan">
    <input type="hidden" asp-for="@Model.NewPlan.CollabID" />
    <input type="text" asp-for="NewPlan.PlanName" placeholder="Plan Name" />
    <span asp-validation-for="NewPlan.PlanName" class="text-danger"></span>
    <br />
    <input type="text" asp-for="NewPlan.PlanConcept" placeholder="Concept" />
    <span asp-validation-for="NewPlan.PlanConcept" class="text-danger"></span>
    <br />
    <input type="hidden" class="form-control" asp-for="NewPlan.DateCreated" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" required />
    <span class="validaty" />
    <br />
    <br />
    <button type="submit" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;">Save</button>
    <button asp-page="AddPlan" asp-page-handler="PopulateHandler" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;" formnovalidate>Populate</button>
    <br />
    <br />
    <a asp-page="/Plan/AddPlan" style="-webkit-text-fill-color:rebeccapurple;">Clear</a>
    &nbsp; &nbsp;
    <a asp-page="/Collaborations/Index" style="-webkit-text-fill-color:rebeccapurple;">Cancel</a>

</form>