@page
@using System.Data.SqlClient
@using Lab2.Pages.DB
@model Lab2.Pages.KnowledgeCollabs.IndexModel
@{
    ViewData["Title"] = "KnowledgeCollabs";

    <h2 class="h2">Knowledge Collaboration:</h2>
    <table class="table table-bordered table-responsive table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Collaboration Team:</th>
                <th>Knowledge Name:</th>

            </tr>
        </thead>
        <tbody>
            @{
                // @ Symbol for a verbatim / multi-line string
                string sqlQuery = @"select Collaboration.TeamName, KnowledgeItem.Name
        from Collaboration
        INNER JOIN KnowledgeCollab
        on KnowledgeCollab.CollabID = Collaboration.CollabID
        LEFT JOIN KnowledgeItem
        on KnowledgeItem.KnowledgeId = KnowledgeCollab.KnowledgeId;
        ";

                SqlDataReader KnowledgeCollabReader = DBClass.GeneralReaderQuery(sqlQuery);

                while (KnowledgeCollabReader.Read())
                {
                    <tr>
                        <td>@KnowledgeCollabReader["TeamName"]</td>
                        <td>@KnowledgeCollabReader["Name"]</td>

                    </tr>
                }

                DBClass.Lab2DBConnection.Close();

            }
        </tbody>
    </table>

    <a class="btn btn-primary" asp-page="NewKnowledgeCollab">Move a Knowledge Item -></a>


}
