@page
@model Lab1Part3.Pages.Collaboration.CollaborationPageModel
@{
}

<h1 class="display-4">Knowledge Items</h1>

<br />
<h3>Dropdowns and Lists</h3>
<p>Combobox / "Dropdown List"</p>
<select class="form-select">
    <option selected>CIS 454</option>
    <option value="1">CIS 484</option>
    <option value="2">CIS 331</option>
    <option value="3">CIS 330</option>
</select>
    

